# Compiled Object files
*.slo
*.lo
*.o
a.out
*.mexa64

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# qtcreator files
*.config
*.creator
*.creator.user
*.files
*.includes

# vim files
*.swp

# project files
include/aura/config.hpp

# astyle files
*.orig

# documentation
doc/*.xml
doc/bin
doc/html

# boost.build
bin/

