sudo: required
language: cpp
dist: trusty
osx_image: xcode7.3

os:
        - linux
        - osx

compiler:
        - clang
        - gcc

branches:
        only: v2


before_install:
        - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -qq update; fi
        - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; 
          then sudo apt-get -qq install 
          cmake 
          libboost-chrono-dev 
          libboost-date-time-dev 
          libboost-filesystem-dev
          libboost-system-dev 
          libboost-thread-dev 
          libboost-program-options-dev
          libboost-test-dev
          ; fi

script:
        - mkdir -p build && cd build
        - cmake ..
        - make all
        - ctest
